---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'

    const currentYear: number = new Date().getFullYear();
---
<footer class="footer">
    <nav class="nav">
        <div>{ currentYear }  &copy; Copyright | <a href={ SITE.webURL } title={`${ SITE.name }'s Github URL'`} target="_blank">{ SITE.name }</a>
        </div>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>
